body {
	background-color: #eee;
	width: 100%;
}

.container {
	width: 100%;
}

.appTitle {
	text-align: center;
}

/*.table {
	border-collapse: separate;
	border-spacing: 2em;
}*/

.table > tbody > tr > td {
	text-align: center;
	vertical-align: middle;
}

.foodContainer {
	outline: 1px solid #aaa;
	background-color: #fff;
	margin: 5px;
}