body {
	background-color: #eee;
	width: 100%;
}

.container {
	width: 100%;
	max-width: 700px;
}

.appTitle {
	text-align: center;
	margin-top: 40px;
}

.table > tbody > tr > td {
	text-align: center;
	vertical-align: middle;
}

.foodContainer {
	outline: 1px solid #aaa;
	background-color: #fff;
	margin: 5px;
}

/* Give ach cell a fix height of 54px.
 * This number should account for the inner div
 * max height of 38 px plus the Bootstrap applied
 * padding at the top and bottom of 8 px.
 */
.cell {
	text-align: center;
	height: 54px;
}

/* Give each div a max height of 38 px and hide
 * content that exceeds it.
 */
.inner {
	max-height: 38px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}

/* Style card table.
 * Override `stackable` style sheet.
 */
.st-key {
	width: 29%;
	text-align: left;
}

.st-val {
	width: 70%;
}

#new-food {
	width: 100%;
	margin: 25px 0 15px 0;
}

table > tbody > tr:hover {
	background-color: #eee;
}

/* Set properties on smaller screens.
 */
@media screen and (max-width: 450px) {
	/* Hide table header. */
	.table {
		display: none;
		margin-bottom: 10px;
	}

	table > tbody > tr:hover {
		background-color: #fff;
	}

	/* Hide first and third row on each item. */
	tbody > tr:nth-child(1),
	tbody > tr:nth-child(3) {
		display: none;
	}

	/* Change the percentage space available for
	 * cells in a the same row.
	 */
	tbody > tr > td:nth-child(1) {
		width: 15%;
	}

	tbody > tr > td:nth-child(2) {
		width: 85%;
	}

	/* Set div and table cells height. */
	.cell {
		height: 36px;
	}

	.inner {
		max-height: 20px;
	}

	.foodContainer {
		outline: 0.6px;
	}
}
