body {
	background-color: #eee;
	width: 100%;
}

.container {
	width: 100%;
	max-width: 700px;
}

.appTitle {
	text-align: center;
	margin-top: 40px;
}

/*.table {
	border-collapse: separate;
	border-spacing: 2em;
}*/


.table > tbody > tr > td {
	text-align: center;
	vertical-align: middle;
}

.foodContainer {
	outline: 1px solid #aaa;
	background-color: #fff;
	margin: 5px;
}

.table > tbody > tr > td {
	text-align: center;
	vertical-align: middle;

}

.table > tbody > tr {

}

.foodContainer {
	outline: 1px solid #aaa;
	background-color: #fff;
	margin: 5px;
}

.cell {
	text-align: center;
	height: 54px;
}

.inner {
	max-height: 38px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}

/* Style card table.
 * Override `stackable` style sheet.
 */

.st-key {
	width: 29%;
	text-align: left;
}

.st-val {
	width: 70%;
}

#new-food {
	width: 100%;
	margin: 25px 0 15px 0;
}

/* Hide table header when screen size is small
 * and the 'cardtable' function from 'stacktable.js'
 * should be called.
 */

@media screen and (max-width: 450px) {
	.table {
		display: none;
	}
}
