<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Health Tracker</title>
		<!-- Bootstrap CSS CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Bootstrap CSS local fallback -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/stacktable.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="container">
			<section id="foods">
				<header>
					<h1 class="appTitle">Health Tracker</h1>
					<!-- TODO -->
					<!-- Implement input functionality in Collection View and uncomment -->
					<input id="new-food" placeholder="What food item are you tracking?" autofocus>
				</header>
				<section id="main">
					<!-- TODO -->
					<!-- Implement table responsiveness and see how to split screen to show more info -->
					<table class="table" id="food-table">
						<thead>
							<tr>
								<th class="col-xs-3 text-center">Brand</th>
								<th class="col-xs-3 text-center">Item</th>
								<th class="col-xs-3 text-center">Calories</th>
								<th class="col-xs-3 text-center">Quantity</th>
							</tr>
						</thead>
						<tbody id="food-items"> </tbody>
					</table>
				</section>
			</section>
			<section id="selected-items">
				<table class="table" id="selected-food-table">
						<thead>
							<tr>
								<th class="col-xs-3 text-center">Brand</th>
								<th class="col-xs-3 text-center">Item</th>
								<th class="col-xs-3 text-center">Calories</th>
								<th class="col-xs-3 text-center">Quantity</th>
							</tr>
						</thead>
						<tbody id="selected-food-items"> </tbody>
					</table>
			</section>
		</div>

		<!-- Underscore template -->
		<script id="food-template" type="text/template">
			<!-- Cells with inner divs to fix their height -->
			<td class="cell"><div class="inner"><%= brandName %></div></td>
			<td class="cell"><div class="inner"><%= itemName %></div></td>
			<td class="cell"><div class="inner"><%= itemCalories %></div></td>
			<td class="cell"><div class="inner"><%= itemQuantity %></div></td>
		</script>

		<script id="item-template" type="text/template">
			<!-- Cells with inner divs to fix their height -->
			<td class="cell"><div class="inner"><%= brandName %></div></td>
			<td class="cell"><div class="inner"><%= itemName %></div></td>
			<td class="cell"><div class="inner"><%= itemCalories %></div></td>
			<td class="cell"><div class="inner"><%= itemQuantity %></div></td>
		</script>

		<!-- Dependency files -->
		<!-- Libraries -->
		<!-- jQuery Google CDN -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<!-- jQuery local fallback -->
		<script src="lib/jquery-3.1.1.min.js"></script>
		<script src="lib/underscore-min.js"></script>
		<script src="lib/backbone-min.js"></script>
		<script src="lib/stacktable.js"></script>
		<script src="lib/enquire.min.js"></script>

		<!-- Backbone files -->
		<script src="js/models/food.js"></script>
		<script src="js/collections/foodList.js"></script>
		<script src="js/collections/selectedFoodList.js"></script>
		<script src="js/views/food.js"></script>
		<script src="js/views/foodList.js"></script>
		<script src="js/views/selectedFoodList.js"></script>
		<script src="js/views/displayItem.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>